body {
  margin: 0;
  padding: 0;
  background-color: salmon;
}

.wrap {
  background-color: bisque;
  margin: 60px auto;
  width: 700px;
  height: 700px;
  border: 5px solid black;
}

.box {
  margin: 9% auto;
  background-color: teal;
  border: 5px solid white;
  width: 20%;
  height: 20%;
}

.box.dot {
  border-style: dashed;
  width: 80%;
}
