body, ul, .menu, .list {
    margin: 0;
    padding: 0;
}
 body {
    background-image: url('./images/b1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 1200px;
} 
.menu {
    width: 200px;
    height: 100%;
    position: fixed;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    background-color: rgba(0, 0, 0, 0.904);
}
.list {
    /* position:relative; */
}
li {
    font-size: 25px;
    list-style-type: none;
    width: 50px;
    margin: 30px;
    margin-left: 40px;
    text-align: left;
    color: white;
}
li:hover{
    color: rgb(197, 74, 74)
}
