body {
    margin: 0;
    padding: 0;
    background-color: rgb(255, 242, 184);
}

.circle{
    background: linear-gradient(rgb(253, 145, 163), pink, rgb(253, 145, 163));
    border:5px solid #ffffff;
    width:600px; height:600px;
    border-radius:400px;
    text-align:center;
    margin:0 auto;
    margin-top : 160px;
    vertical-align:middle;
    line-height:100px;
}

