body, ul {
    margin: 0;
    padding: 0;
}

img {
    width:400px;
    margin: 0 auto;
    border-radius: 100%;
}

body {
    background-image: url("./images/sky-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 2000px;
}

div {
    width: 600px;
    height: 600px;
    border: 10px solid indianred;
    background-color: brown;    
    border-radius: 100%;
    text-align: center;
    margin: 100px auto;
} 

h1 {
    margin: 20px auto;
    width: 120px;
    color: salmon;
    border-bottom: 5px solid darkred;
}

ul {
    width: 200px;
    margin: 0 auto;
    text-align: left;
}

a {
    text-decoration: none;
    color: inherit;
}

li:hover{
    color: white;
}