body, ul {
    margin:0;/* object와 화면과의 여백-> 외부여백*/
    padding:0;/* object 안에 -> 내부여백*/
}
body{
    background-color: #B0C4DE;
}
div{
    width: 400px;
    height: 650px;
    background-color: white;
    margin: 150px auto; /*auto가 가운데 정렬?*/
    border: 7px solid skyblue; /*solid : 겉 테두리?*/
    border-radius: 200px; /*둥근 정도*/
    text-align: center; /*글자위치*/
}
img{
    margin-top: 100px;
}
h1{
    margin: 20px auto; 
    width: 100px; /*밑줄 길이?*/
    color: skyblue;
    border-bottom: 4px solid skyblue; /*밑줄 두께랑 색*/
}
ul{
    width: 120px;
    margin: 0 auto;
    list-style: none; /*불릿 없애기*/
    /*text-align: left; 왼쪽 정렬*/
}
a{
    text-decoration: none;
    color: inherit; /*링크타고 왔다갔다 부모랑 색이 같게...?*/
}
li{
    color: skyblue; 
}
li:hover{ /*리스트에 마우스 커서 올리면 색 변함*/
    color:navy;
}